* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Nova Mono", monospace;
    color: #3b3b3b;
    background-color: #f0f0f0;
    padding: 20px 100px 20px 100px;
}

.headbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.heading1 {
    font-size: 20px;
}

.game-name1 {
    color: #3b3b3b;
    font-size: 40px;
    text-shadow: 5px 5px 5px #b1b1b1;
}

.headbar #logo {
    margin-left: 20px;
    width: 60px;
    height: 60px;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}

#logo:hover {
    -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}

.container {
    margin: 20px 50px 20px 50px;
    display: flex;
    justify-content: center;
    border: black solid 2px;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.play #play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 200px;
    height: 200px;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.7s ease-out;
    -webkit-filter: drop-shadow(5px 5px 5px #b1b1b1);
    filter: drop-shadow(5px 5px 5px #b1b1b1);
}

#play-button:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    cursor: pointer;
    filter: none;
}

.play #play-text {
    font-size: 20px;
    padding-top: 10px;
}

.second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.retry #retry-button {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 590px;
    bottom: 130px;
    margin-top: 150px;
    width: 100px;
    height: 100px;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.7s ease-out;
    -webkit-filter: drop-shadow(5px 5px 5px #b1b1b1);
    filter: drop-shadow(5px 5px 5px #b1b1b1);
}

#retry-button:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    cursor: pointer;
    filter: none;
}

.retry #retry-text {
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 595px;
    bottom: 90px;
    margin-top: 150px;
}
